* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}

#formulario button.btn {
    margin-top: 32px;
}

td.acoes .fas {
    font-size: 12px;
}

.table td, .table th {
    vertical-align: middle;
}

h1 , thead {
    color:#007bff;
}

label {
    font-weight: bolder;
}

span.fa-user-clock {
    font-size: 40px;
    color:#007bff;
    inline-size: auto;
    vertical-align: middle;
}

#alertinha {
    max-width: 18rem;
    position: fixed;
    bottom: 0;
    right: 14px;
    display: none;
}